DB_PATH=local.db

TG_TOKEN_BOT=1234567890:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

WA_TOKEN_SUBSCRIBE=secret_token
WA_TOKEN_AUTH=YYYYYYYYYYYYYYYYYYYYYY
WA_API_MESSAGES=https://graph.facebook.com/v15.0/000000000000000/messages
WA_API_ROUTE=/wpp


MESSAGES_TREE_PATH=messages_tree.json

WEBHOOK_HOST=localhost
WEBHOOK_PORT=8080